* {
  padding: 0;
  margin: 0;
}

div p.desafio2 {
    color:#0033ff ;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: none;
    text-decoration: none;
    text-align: justify;
    line-height: 15px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-style:italic;
    margin-left: 20%;
    margin-right: 20%;
}


.navBar {
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    text-decoration: none;
    overflow: hidden;
}

/* nav ul li a.navBar{
    text-decoration: none;
} */



body {
    background-image: url(https://images.unsplash.com/photo-1575330739287-90c6a473f9a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
    background-color: rgb(255, 255, 255);
    background-repeat: repeat-y;
    background-size: 60%;
    background-position: center;
    text-align: center;
    background-position-y: 8px;
}

.active {
    background-color: green;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
    ;
  }
  
li {
    float: right;
    border-right: 1px solid #bbb;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
  }



.titulo {
    color: rgb(0, 0, 0);
}

#parrafo {
    display: block;
    color:#0033ff ;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-style:italic;
    margin-left: 20%;
    margin-right: 20%;
}

aside.tablita{
    margin-left: 20%;
    margin-right: 20%;
}

table {
    border: 3px solid;
   }

.table2{
    font-style: italic;
}

th {
background-color:orange;
border: 1px solid;
color: green;
}

tr, td {
    border: 1px solid;
    color: green;
    }

.titulo2 {
    color:white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: 500px;
    line-height: 1.2px;
    display: block;
}

.logo {
    display: inline-block;
}

.zoom {
    display: block;
}

.zoom:hover {
    transform: scale(1.2);
}

.dropdown {
    float: right;
    overflow: hidden;
  }

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

/* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdownMenu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdownMenu a:hover {
    background-color: #ddd;
  }

.dropdown:hover .dropdownMenu {
    display: block;
  }


/* .padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 20vw;
}

.hijo {
  background-color: rosybrown;
  width: 20vw;
  height: 20vw;
  border: 1px solid black;
} */